{% extends "layout.html" %}

{% block title%}{{title}}{% endblock %}

{% block body %}
<center><h1>Registerung</h1></center>

<form class="row g-3" style="padding-top: 20px;" action="/register" method="POST" enctype="multipart/form-data">

    {{ form.csrf_token }}

    {% from 'render_form.html' import render_field %}

    {{ render_field(form.username) }}
    {{ render_field(form.email) }}
    {{ render_field(form.DateOFbirth) }}
    {{ render_field(form.language) }}
    {{ render_field(form.address) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    {{ render_field(form.logo) }}
    <center>{{form.submit(class="btn btn-primary")}}</center>
        
{% endblock %}
