{% extends "layout.html" %}

{% block title%}{{title}}{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center"> <div class="col-md-4"> <div class="text-center mb-3"> <img src="/static/book_images/{{ book.image_name }}" class="card-img-top" alt="{{ book.title }}" style="height: 400px; width: 300px;">
        </div>
      </div>
  
      <div class="col-md-6"> <h2 class="mb-3">Buch bearbeiten</h2> 
        <form class="row g-3" action="/edit_book_page/{{book.id}}" method="POST" enctype="multipart/form-data">
          {{ form.csrf_token }}
  
          {% from 'render_form.html' import render_field %}
          {{ render_field(form.url_img) }}
          {{ render_field(form.image) }}
          {{ render_field(form.title, value=book.title) }}
          {{ render_field(form.description, value=book.description) }}
          {{ render_field(form.price, value=book.price) }}
  
          <div class="d-grid">  <button type="submit" class="btn btn-primary">Speichern</button>
          </div>
        </form> 
      </div>
    </div>
  </div>
  


{% endblock %}