{% extends "layout.html" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
<div class="container">
    <br>
    <h1>Kauforders</h1>
    <br>
    <div class="row">
        {% for order in orders %}
            {% if user.id == order.buyer_id %}
                {% for book in books %}
                    {% if order.book_id == book.id %}
                        <div class="col-md-3 mb-4">
                            <div class="card" style="width: 300px;">
                                {% if book.image_name %}
                                    <img src="../../static/book_images/{{ book.image_name }}" class="card-img-top" alt="{{ book.title }}" style="height: 400px;">
                                {% elif book.image %}
                                    <img src="{{ book.image }}" class="card-img-top" alt="{{ book.title }}" style="height: 400px;">
                                {% endif %}
                                <div class="card-body">
                                    <h3 class="card-title">{{ book.title }}</h3>
                                    <p class="card-text">Preis: {{ book.price }} €</p>
                                    <p>Menge: {{ order.quantity}}</p>
                                  
                                    <p>Liefarung zu: {{order.buyer_name}}, {{ order.buyer_adress }}</p>
                                    {% if not order.delivered %}
                                    <p> Unterwegs </p>
                                    {% else %}
                                    <div class="row">
                                        <div class="col-md-10">
                                          <p style="color: green;">Es wurde schon geliefert.</p>
                                        </div>
                                        <div class="col-md-2">
                                          <a href="/kauforders/delete/{{order.id}}" role="button" ><img style="width: 25px;" src="../../static/icons/delete.png" alt=""></a>
                                        </div>
                                      </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock %}
