{% extends "layout.html" %}

{% block title%}{{title}}{% endblock %}

{% block body %}


<div class="container mt-5">
    <div class="card">
        <div class="card-header">
            <h2>Benutzerdaten</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4 text-center">
                    <img src="../../static/users_logo/{{ user.logo_name }}"  class="img-fluid rounded-circle" alt="Benutzerfoto" style="width: 180px; height:180px;"  >
                </div>
                <div class="col-md-8">
                    <h3 class="card-title">{{user.username}}</h3>
                    <p class="card-text">
                        <strong>Email:</strong> {{user.email}}<br>
                        <strong>Adresse:</strong> {{user.address}}<br>
                        <strong>Sprache:</strong> {{user.language}}<br>
                        <strong>Geburtstag:</strong> {{user.DateOFbirth}}<br>
                        <!-- Weitere Benutzerdaten hier einfügen -->
                    </p>
                    <a href="/user_data_edit" class="btn btn-primary">Profil bearbeiten</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}